<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/purecss/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/pagethemes/black/countdown/jquery.countdown.css">
    <link rel="stylesheet" href="/styles/pagethemes/black/black.css">
</head>
<div class="book-container">
    <div class="book-cover"><img src="/images/books/book.jpg" /></div>
    <h1 class="title">The Zone of Interest</h1>
    <p class="author"> Martin Amis</p>
    <div id="launchCountdown"></div>
</div>
<div class="abstract-container container">
    <h1>About the book</h1>
    <p>The Zone of Interest isn't Martin Amis's first attempt to write about the Holocaust -- Time’s Arrow told the story of a doctor working during the time period. His newest novel approaches the topic head-on, setting a love story in the unlikely setting of a concentration camp.</p>
    <div class="publish-date"><b>Publish Date:</b> July 21, 2015</div>
</div>
<div class="email-container container">
    <h1>Notify me when the book is available</h1>
    <form class="pure-form pure-form-stacked email-form">
        <fieldset>
            <label for="name">Name:</label>
            <input id="name" type="text" placeholder="">

            <label for="email">Email</label>
            <input id="email" type="email" placeholder="">

            <button type="submit" class="pure-button pure-button-primary">Keep me posted</button>
        </fieldset>
    </form>
</div>
<!--<div class="author-container">-->
    <!--<h1>About the author</h1>-->
    <!--<div class="author-pic"><img src="/images/books/book.jpg" /></div>-->
    <!--<h3>Martin Amis</h3>-->
    <!--<p>The Zone of Interest isn't Martin Amis's first attempt to write about the Holocaust -- Time’s Arrow told the story of a doctor working during the time period. His newest novel approaches the topic head-on, setting a love story in the unlikely setting of a concentration camp.</p>-->
    <!--<div class="publish-date"><b>Publish Date:</b> July 21, 2015</div>-->
<!--</div>-->

<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/jquery/jquery-2.1.1.min.js"></script>
<script src="/js/countdown/jquery.plugin.min.js"></script>
<script src="/js/countdown/jquery.countdown.min.js"></script>
<script src="/js/backstretch/backstretch.min.js"></script>
<script src="/js/pagethemes/black.js"></script>
</html>